<!DOCTYPE html>
<html>
<head>
	<title>Todo List</title>

</head>
<body>
<h2>Pattern Findings:</h2>
<ul>
    <li>This person likes to upvote on most of the answers</li>
    <li>The upvotes constitute about 50% of interactions on stackoverflow</li>
    <li>Downvote percent is about 10% of interactions on the page</li>
    <li>The person has never commented on any post</li>
    <li>Stars constitute about 20% of interactions on stackoverflow</li>
</ul>

</body>
</html>